fastapi
uvicorn
sqlalchemy
aiofiles
requests
bcrypt==4.0.1
python-multipart
python-jose
passlib
dotenv

google-api-python-client
google-auth
psycopg2-binary
firebase-admin

openai 
sentence-transformers 
newspaper3k 
duckduckgo-search 
faiss-cpu 
unstructured
langchain 
langchain-unstructured 
langchain-community 
langchain-huggingface
fastapi 
uvicorn 
nest_asyncio 
lxml[html_clean]